@import "tailwindcss";

:root {
  --color-black: #222222;
  --color-lemon: #F2FD84;
  --color-white: #FFFFFF;
  --color-glass: rgba(255, 255, 255, 0.03);
  --color-glass-border: rgba(255, 255, 255, 0.5);
}

@theme inline {
  --color-black: #222222;
  --color-lemon: #F2FD84;
  --color-white: #FFFFFF;
  --font-sans: var(--font-roboto);
  --font-heading: var(--font-sora);
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-roboto), sans-serif;
}
